[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leonidravich
[access "refs/for/refs/*"]
	read = group user/leonidravich
	push = group user/leonidravich
	label-Code-Review = -2..+2 group user/leonidravich
	label-Verified = -1..+1 group user/leonidravich
	rebase = group user/leonidravich
	removeReviewer = group user/leonidravich
	submit = group user/leonidravich
[access "refs/heads/*"]
	read = group user/leonidravich
	create = group user/leonidravich
	push = +force group user/leonidravich
	pushMerge = group user/leonidravich
[access "refs/tags/*"]
	push = group user/leonidravich
	push = +force group user/leonidravich
